body{
    background: #5700B9;
}

h1{
    color: #FFE100;
}

nav a{
    color: #FF65F8;
}
nav a:hover{
    color: #00FF20;
}
nav span{
    color: #FFF;
}


p{
    padding: 5px 30px;

    color: #FFE100;
    font-size: 140%;
}