body{
    background: #5700B9;
}

h1{
    color: #FFE100;
}

nav a{
    color: #FF65F8;
}
nav a:hover{
    color: #00FF20;
}
nav span{
    color: #FFF;
}


p{
    padding: 10px 7vw;

    color: #FFE100;
    font-size: 140%;
    text-align: justify;
}

.image{
    padding: 20px;

    text-align: center;

    background: #FFF;
}
.image img{
    width: 50vw;
}
.image .label{
    margin-top: 30px;

    color: #5700B9;
    font-size: 150%;
}
@media screen and (max-width: 700px){
    header h1{
        font-size: 6vh;
     }
}