*{
    box-sizing: border-box;
    outline: none;
}

@font-face{
    font-family: "Retro Gaming";
    src: url("font.ttf");
}

body, html{
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    font-family: "Retro Gaming";
    background: #FFE100;
    cursor: url(cursor.png) 0 0, auto;
}

header h1{
    font-size: 10vh;
    text-align: center;
}

nav{
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    gap: 2vh;
}
nav a{
    display: inline-block;
    position: relative;
    height: 9vh;
    text-decoration: none;
    font-size: 6vh;
    color: #8C00FF;
    text-align: center;
}
nav a:hover{
    color: blue;
    transform: scale(1.1);
}
nav a:hover::before{
    position: relative;
    left: -10px;
    content: ">";
}
nav a:hover::after{
    position: relative;
    left: 10px;
    content: "<";
}