*{
    box-sizing: border-box;
    outline: none;
}

@font-face{
    font-family: "Retro Gaming";
    src: url("font.ttf");
}

body, html{
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    font-family: "Retro Gaming";
}
*{
    cursor: none !important;
}
.cursor{
    transition: top 10ms ease, left 10ms ease;

    position: fixed;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;

    background: url("src/cursor.svg") no-repeat;
    background-size: contain;
    z-index: 99;
    pointer-events: none;
}

header h1{
    font-size: 10vh;
    text-align: center;
}
.name{
    margin-bottom: 0;
}
.lastname{
    margin-top: 0;
}
nav{
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    gap: 2vh;
}
nav a{
    display: inline-block;
    position: relative;
    height: 9vh;
    text-decoration: none;
    font-size: 6vh;
    color: #8C00FF;
    text-align: center;
}
nav a:hover{
    color: blue;
    transform: scale(1.1);
}
nav a:hover::before{
    position: relative;
    left: -10px;
    content: ">";
}
nav a:hover::after{
    position: relative;
    left: 10px;
    content: "<";
}